.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

.titleText{
  fill: white; 
  font-family: "Colfax-Bold";
  x: 23;
  y: 40;
}

.subText{
  fill: white; 
  font-family: "Colfax-Regular";
  x: 23;
  y: 65;
}

.body-tl-header{
  y: $;
}

.tile-list-item {
  height: 70;
}
.tile-list-header {
  height: 100;
}

.tile-list-item text {
  height: 19;
  font-size:20;
  font-family: "Colfax-Regular";
  fill: "black";
}

#img{
  display: inline;
}

#background {
  width: 100%;
  height: 100%;
  fill: #E2E1E1;
}
